# Python 
__pycache__/
*.pyc

# Jupyter 
.ipynb_checkpoints/

# Environment / secrets
.env
*.token
*.key

# Downloaded dataset files
officeqa_hf_data/

# Vector database
chroma_db_financial_rag/

# Large temporary files
*.zip
*.db
*.sqlite
